body {
    display: flex;
    flex-direction: column; 
    padding: 0;
    margin: 0; 
}
* {
font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    border: 5px solid green;
    background-color: #1f2937;
    padding: 8px;
    gap: 1px;
    
}


a {
    text-decoration: none;
    color: #e5e7eb;
}
#logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
    margin-left: 150px;
    flex-shrink: 0;
    margin-right: 20px;
}
.links {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
    font-size: 18px;
    gap: 15px;
    flex-shrink: 0;
}
.section0 {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 60px;
    background-color: #1f2937;
    border: 5px solid green;
}
.forest {
    height: 200px;
    width: 450px;
}
#h10 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}
#p0 {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -20px;
}

.text0 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 5px solid green;
    flex-shrink: 0;
    flex-grow: 0;
    width: 500px;
}
#signup0 {
    padding: 1%;
    width: 100px;
    background-color: #2882f6;
    border-radius: 5px;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid green;
}
.apes {
    height: 200px;
    width: 200px;
}

.apelist {
    display: flex;
    gap: 15px;
    text-align: center;
    border: 5px solid green;
}
ul {
    list-style: none;  
}

.sec1header {
    font-weight: bold;
    font-size: 36px;
    color: #1f2937;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid green;
    height: 400px;
    width: 900px;
    align-items: flex-start;
    flex: 0 0 auto;
}
.section2 > p {
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
}
.section2 > h3 {

    margin-left: 600px;
    margin-top: -50px;

}
.turbosection2 {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    border: 5px solid green;
}